{{#if visible}}
  <iframe class="revive-ad {{unbound slot}}" id="af19849f" name="af19849f" 
    src="//{{unbound revivehost}}/www/delivery/afr.php?zoneid={{unbound zoneid}}&amp;cb={{unbound rnd}}" 
    frameborder="0" scrolling="no" width="{{unbound width}}" height="{{unbound height}}">
        <a href="//{{unbound revivehost}}/www/delivery/ck.php?n=abc1aa1e&amp;cb={{unbound rnd}}" 
          target="_blank"><img src="//{{unbound revivehost}}/www/delivery/avw.php?zoneid={{unbound zoneid}}&amp;cb={{unbound rnd}}&amp;n=abc1aa1e" border="0" alt="" /></a>
  </iframe>
{{/if}}
